<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
id="WebApp_ID" version="3.0">
<display-name>WebServerStudy</display-name>
<jsp-config>
<taglib>
<!--태그 라이브러리 uri 속성값을 참조한다.-->
<taglib-uri>http://minhaett.com</taglib-uri>
<!--태그 라이브러리의 위치를 설정하여 참조한다.-->
<taglib-location>/Tag/custom.tld</taglib-location>
</taglib>
</jsp-config>
</web-app>